
@media (max-width: 1024px) {

    $carousel-height: 100%;

    .carousel-item img{
        min-height: $carousel-height;
    }

}

@media (min-width: 1024px) {

    $carousel-height: 683px;
    .carousel-item img{
        height: $carousel-height;
    }
    .carousel-item {
        background-color: rgba(0,0,0, .3);
    }

}

@media (min-width: 768px) {

    .carousel-caption {
        top:20%;
        height: 300px;
        line-height: 3;
    }
   

}
.checking-your-rate{
    margin: 0 0 .7em;
    line-height: 1.5;
}

#loanible-carousel .carousel-caption {
    background: rgba(0,0,0, .4);
  }

.hero-btn{
    width: 200px;
    height: 50px;
    font-size: 18px;
}  
.hero-cta-text {
    font-size: 24px;
}
.home-cards{ 
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 20px;
    .card{
        width: 14rem;
        margin-right: 20px;
    }
    .card-text{
        min-height: 120px;
    }
}

.section{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    
}
.btn-outline-primary:hover {
    color: #fff;
    background-color: #13a9d2;
    border-color: #24C0EB;
}
.reviews{
    min-height: 200px;
    background-color: #F8F8F8;
    h2{
        padding-top: 30px;
    }
    .checked {
        color: orange;
    }
}